# Dictionary

In [12]:
#dictionary--mutable/are unordered and not allow duplicate key --key--float,tuple,boolean,strings
info={
    "name":"Alishah",
    "subjects":["Python","C","Java"],
    "topics":("dict","sets"),
    "age":22,
    "marks":90
}
print(type(info))
print(info["name"])
print(info["age"])

info["name"]="Sana"
info["surname"]="Khan"
print(info)

#nested dictionary
student={
    "name":"Bilal",
    "Subjects":{
        "Maths":56,
        "urdu":80,
        "english":77
    },
    "age":22
}
print("Marks of english:",student["Subjects"]["english"])

<class 'dict'>
Alishah
22
{'name': 'Sana', 'subjects': ['Python', 'C', 'Java'], 'topics': ('dict', 'sets'), 'age': 22, 'marks': 90, 'surname': 'Khan'}
Marks of english: 77

In [33]:
#dictionary_methods
student={
    "name":"Bilal",
    "Subjects":{
        "Maths":56,
        "urdu":80,
        "english":77
    },
    "age":22
}
print(type(student.keys()))
print(student.keys())
print(type(list(student.keys())))
print(list(student.keys()))
print(len(list(student.keys())))

print(student.values())
print(list(student.values()))

print(student.items())   #returns key value pairs as tuple
print(list(student.items()))
pairs=list(student.items())
print(pairs[2])

#print(student["name2"]) #error
print(student.get("name2")) #no error just return none becuse this key doesn't exist

student.update({"city":"karachi"})
new_dict={"name":"zain","address":"ABC road"}
student.update(new_dict)
print(student)

<class 'dict_keys'>
dict_keys(['name', 'Subjects', 'age'])
<class 'list'>
['name', 'Subjects', 'age']
3
dict_values(['Bilal', {'Maths': 56, 'urdu': 80, 'english': 77}, 22])
['Bilal', {'Maths': 56, 'urdu': 80, 'english': 77}, 22]
dict_items([('name', 'Bilal'), ('Subjects', {'Maths': 56, 'urdu': 80, 'english': 77}), ('age', 22)])
[('name', 'Bilal'), ('Subjects', {'Maths': 56, 'urdu': 80, 'english': 77}), ('age', 22)]
('age', 22)
None
{'name': 'zain', 'Subjects': {'Maths': 56, 'urdu': 80, 'english': 77}, 'age': 22, 'city': 'karachi', 'address': 'ABC road'}

# Sets

In [45]:
#unordered---mutable---- elements must be unique and immutable
collection={1,2,2,3,"hello","world","hello",4,5}  #ignore duplicate value
print(collection)
print(type(collection))
print(len(collection))

f=set() #empty set
print(type(f))

#set_methods
f.add(2) #can add string ,tuple but we cannot add list and dictionary 
f.add(2)
f.add(4)
f.add(6)
print(f)
f.remove(2)
print(f)
print(len(f))
#f.remove(9)  #key error bcz element doesnt exist
f.clear()
print(len(f))
#union and intersection
a={1,3,4,5,6,7}
b={1,3,5,7,9,11}
print(a.union(b))
print(a.intersection(b))
print(a.symmetric_difference(b))
print(a.difference(b))

{1, 2, 3, 'hello', 4, 5, 'world'}
<class 'set'>
7
<class 'set'>
{2, 4, 6}
{4, 6}
2
0
{1, 3, 4, 5, 6, 7, 9, 11}
{1, 3, 5, 7}
{4, 6, 9, 11}
{4, 6}